@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Karla", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
}

.container {
    background-color: #1f2937;
    min-width: 50%;
    padding: 4% 3%;
    border-radius: 20px;
}

.heading {
    font-size: 60px;
    font-weight: 700;
}

#heading1 {
    color: #fff;
}

#heading2 {
    color: #4adf86;
}

p {
    color: #d5d4d8;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 60px;
}

button {
    color: white;
    background-color: #10b981;
    font-size: 24px;
    font-weight: bold;
    padding: 15px 25px;
    border-radius: 10px;
    line-height: 20px;
    border: none;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #2f3e53;
}

.passwords {
    display: flex;
    justify-content: space-between;
}

.password {
    background-color: #273549;
    height: 50px;
    width: 30rem;
    border-radius: 10px;
}

#first-password {
    margin-right: 50px;
}

@media (max-width: 1100px) {
    * {
        text-align: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: #1f2937;
        padding: 10% 6%;
        border-radius: 20px;
    }

    .heading {
        font-size: 32px;
    }

    p {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    button {
        font-size: 18px;
        padding: 10px 20px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    hr {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .passwords {
        display: block;
    }

    .password {
        width: 80%;
        height: 40px;
        margin: auto;
    }

    #first-password {
        margin: auto;
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    button {
        font-size: 14px;
        padding: 10px 8px;
        width: 80%;
    }

    .heading {
        font-size: 22px;
    }

    p {
        font-size: 16px;
        margin-bottom: 26px;
    }
}
