@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Karla", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
}

.container {
    background-color: #1f2937;
    min-width: 50%;
    padding: 4% 3%;
    border-radius: 20px;
}

.heading {
    font-size: 60px;
    font-weight: 700;
}

#heading1 {
    color: #fff;
}

#heading2 {
    color: #4adf86;
}

p {
    color: #d5d4d8;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
}

button {
    color: white;
    background-color: #10b981;
    font-size: 24px;
    font-weight: bold;
    padding: 15px 25px;
    border-radius: 10px;
    line-height: 20px;
    border: none;
    transition: border 0.35s, background-color 0.35s;
}

button:hover {
    outline: 3px solid #10b981;
    background-color: transparent;
}

form {
    margin-top: 40px;
}

.checkbox-spin {
    display: none;
}

.checkbox-spin + label span {
    display: inline-block;
    width: 25px;
    height: 19px;
    margin: 0 5px -4px 0;
    transform: translateY(-0.2rem);
}
.checkbox-spin + label span:before,
.checkbox-spin + label span::after {
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    z-index: 1;
    width: 1.3rem;
    height: 1.3rem;
    background: transparent;
    border: 2px solid #2f3e53;
}
.checkbox-spin + label span:after {
    z-index: 0;
    border: none;
}

.checkbox-spin:checked + label span:before {
    transform: rotateZ(180deg);
    background: #10b981;
    border-radius: 6px;
}

label {
    color: #eee;
    font-size: 20px;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #2f3e53;
}

.passwords {
    display: flex;
    justify-content: space-between;
}

.password {
    position: relative;
    text-align: center;
    background-color: #273549;
    height: 50px;
    width: 30rem;
    border-radius: 10px;
    line-height: 50px;
    color: #55f991;
    font-size: 24px;
}

img {
    position: absolute;
    width: 5%;
    right: 20px;
    bottom: 14px;
}

#first-password {
    margin-right: 50px;
}

@media (max-width: 1100px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: #1f2937;
        padding: 10% 6%;
        border-radius: 20px;
    }

    .heading {
        font-size: 40px;
    }

    p {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    button {
        font-size: 30px;
        padding: 10px 20px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    hr {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .passwords {
        display: block;
    }

    .password {
        width: 80%;
        height: 40px;
        margin: auto;
    }

    #first-password {
        margin: auto;
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    button {
        font-size: 20px;
        padding: 16px 12px;
        width: 80%;
    }

    .heading {
        font-size: 36px;
        text-align: center;
    }

    p {
        font-size: 24px;
        margin-top: 24px;
        margin-bottom: 30px;
        text-align: center;
    }

    form {
        width: 78%;
        margin-left: auto;
        margin-right: auto;
    }

    hr {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .password {
        font-size: 18px;
        padding: 16px 12px;
        width: 80%;
        line-height: 8px;
    }

    img {
        bottom: 11px;
    }
}
